<%- include("partials/header"); %>


<div class="container ">
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
   </nav>
   <% if(forums) { %>
      <% forums.forEach(function(forum) { %>
         
         <div class="card mb-3">
            <div class="card-body">
               <h5 class="card-title"><a href="/forums/<%= forum._id %>/1"><%= forum.forumName %></a></h5>
               <h6 class="card-subtitle mb-2 text-muted"><%= forum.createdAt.toLocaleDateString("en-GB") %></h6>
               <p class="card-text">
                  <%= forum.description %>
               </p>
               <% if(user && (user.isAdmin === true)) { %>
                  <a class="btn btn-warning btn-sm editBtn" href="/forums/<%= forum._id %>/edit">Edit</a>
                  <form class="d-inline-block" action="/forums/<%= forum._id %>?_method=DELETE" method="POST">
                     <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                  </form>
               <% } %>
            </div>
         </div>
      <% }) %>
   <% } %>

   <% if(user && (user.isAdmin === true)) { %>
   <a class="btn btn-primary btn-sm createBtn" href="/forums/new">Create Forum</a>
   <% } %>
</div>

<div class="container">
   <div class="chatDiv my-3">
      <div class="userList">
         <p class="userCount text-center mt-2">Online users:</p>
      </div>
      <div class="chatBox">
         <ul class="list-group my-2 chatList mx-3">
            
         </ul>
      </div>
   </div>
</div>
<div class="container mb-3">
   <form action="" class="chatForm">
         <input type="text" class="chatInput">
         <input type="submit" value="Chat" class="chatButton createBtn btn">
   </form>
</div>

<%- include("partials/footer"); %>
